<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hmsphr.jdj" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >


        <service
            android:name=".Services.Manager"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".Activities.LoadActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.WelcomeActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_welcome"
            android:launchMode="singleTask"
            android:alwaysRetainTaskState="true" >
        </activity>

        <activity
            android:name=".Activities.WebActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:noHistory="true" >
        </activity>

        <activity
            android:name=".Activities.VideoActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName=".Activities.WelcomeActivity"
            android:theme="@style/ExoPlayerTheme"
            android:noHistory="true" />

        <activity
            android:name=".Activities.AudioActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName=".Activities.WelcomeActivity"
            android:theme="@style/ExoPlayerTheme"
            android:noHistory="true" />

    </application>

</manifest>
